@CHARSET "UTF-8"; 

/* FONT style */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../lib/font/NanumBarunGothic.ttf') format('truetype');
}

/* smarthome default design */
html, body {
    font-family: "NanumBarunGothic";
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../image/picture_wallpaper0.png');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.wrapper div.time {
    text-align: center;
    position: absolute;
    color: #fff;
    padding-top: 20px;
    width: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}

div.wrapper div.time > span {
    color: inherit;
    font-size: 5rem;
    text-shadow: 0px 1px 9px rgba(0, 0, 0, 0.3);
}

div.wrapper div.time > span#ap {
    color: inherit;
    font-size: 2.5rem;
}

div.wrapper div.time div.year {
    text-align: center;
    color: inherit;
    font-size: 2.6rem;
    text-shadow: 0px 1px 9px rgba(0, 0, 0, 0.3);
    letter-spacing: -.1em;
}

div.wrapper div.time div.year > span#day {
    margin-left: 5px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

div.wrapper div.time div.weather {
    position: absolute;
    bottom: 0;
    right: 10px;
}

div.wrapper div.time div.weather > .weather-icon {
    margin-bottom: 27px;
}

div.wrapper div.time div.weather > p.temp {
    position: absolute;
    bottom: -27px;
    left: 42px;
    font-size: 2rem;
    text-align: center;
}

div.icon-menu {
    position: relative;
    left:0;
    bottom:0;
    z-index: 9;
}

div.icon-menu img.search-menu-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(55, 105, 199);
    width: 40px;
    height: 40px;
    z-index: 9;
    padding: 20px;
    cursor: pointer;
}

div.icon-menu img.calendar-menu-icon {
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: rgb(241, 150, 65);
    width: 40px;
    height: 40px;
    z-index: 9;
    padding: 20px;
    cursor: pointer;
}

div.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}

div.modal-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

/* Modal Style */ 
img.btn-cancel {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    right: 30px;
}

/* Search style */
input[name="search"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px 15px 25px;
    font-size: 2rem;
    letter-spacing: -.1em;
    color: #000;
    border-radius: 50px;
    border: none;
    width: 40%;
}

div.btn-search {
    position: absolute;
    right:29.5%;
    top: 50.2%;
    transform: translate(-15%, -50%);
    text-align: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 7px;
    background-color: #fff;
}

/* slide image left, right button */
div.leftOrRight {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 0;
    display: block;
    transform: translate(-50%, -50%);
}

div.leftOrRight img.left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: auto;
    transform: translateY(-50%);
    cursor: pointer;
}

div.leftOrRight img.right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: auto;
    transform: translateY(-50%);
    cursor: pointer;
}